#projects{
    background-color:#060606;
    padding: 150px 0;
    h1{
        color: #04FCF0;
        text-align: center;
        margin-bottom: 50px;
        font-family: Roboto;
        font-size: 28px;
    }
    .cards{
        .cards__df{
            display: flex;
            justify-content: space-around;
            margin-bottom:100px;
        }
        .card{
            display: flex;
            flex-direction: column;
            border: 1px solid #FFFFFF;
            border-radius: 14px;
            max-width: 450px;
            transition: .3s;
            overflow: hidden;
            .card-right{
                max-width: 500px;
                margin: 20px 0;
                padding: 30px;
                h3{
                    color: #FFFFFF;
                    font-family: Roboto;
                    span{
                        font-size: 16px;
                        font-family: Roboto;
                        color: #04FCF0;
                        margin-left: 15px;
                    }
                }
                h2{
                    color: #FFFFFF;
                    font-size: 24px;
                    font-family: Roboto;
                    font-weight: 400;
                }
                p{
                    color: #FFFFFF;
                    font-size: 20px;
                    font-family: Roboto;
                    font-weight: 300;
                    line-height: 30px;
                    margin: 20px 0;
                }
            }
        }
        .card-left{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            overflow: hidden;
            transition: .3s;
            img{
                width: 100%;
                border-radius: 8px;
                height: 250px;
                object-fit: cover;
                }
          .card__content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(6, 6, 6, 0.7);
                transform: translateX(500px);
                margin-top: -250px;
                transition: .5s;
                height: 250px;
                width: 100%;
                border-radius: 6px;
                gap: 20px;
                .codes{
                    display: flex;
                    opacity: 1 !important;
                    gap: 20px;
                    a{
                        color: #FFFFFF;
                        text-decoration: underline;
                    }
                }
                svg{
                    color: #FFFFFF;
                    font-size: 36px;
                    opacity: 1 !important;
                    color: dodgerblue;
                }
                a:nth-child(2){
                    svg{
                        color: #FFFFFF !important;
                    }
                }
            }
        }
        .card:hover{
            transform: scale(1.02);
            .card__content{
                // opacity: 1;
                transform: translateX(0);
            }
        }
    }
}


@media (max-width:950px) {
    .cards__df{
        flex-direction: column;
        gap: 50px;
    }
}