footer {
  background-color: black;
  padding: 100px 0;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
footer h2 {
  margin-bottom: 30px;
}
footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}
footer span a {
  font-size: 20px;
}
footer .df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 250px;
}
footer .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .div svg {
  font-size: 30px;
}
footer button {
  background-color: black;
  padding: 15px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer button:hover {
  background-color: #FFFFFF;
  color: black;
}

footer * {
  color: #FFFFFF;
}

.p {
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  padding: 10px 0;
}

@media (max-width: 750px) {
  .df {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px !important;
  }
}