.skills {
  background-color: #151716;
  padding: 150px 0;
}
.skills h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 200;
}

.swiper {
  width: 100%;
  height: 230px;
  margin-top: 50px;
  -webkit-box-shadow: -10px 0 20px -10px #FFFFFF, 10px 0 20px -10px #FFFFFF;
          box-shadow: -10px 0 20px -10px #FFFFFF, 10px 0 20px -10px #FFFFFF;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px;
  border-radius: 8px;
}
.swiper-slide p {
  margin-top: 15px;
}
.swiper-slide svg {
  font-size: 140px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide:first-child svg {
  color: #DD4B25;
}

.swiper-slide:nth-child(2) svg {
  color: #254BDD;
}

.swiper-slide:nth-child(3) svg {
  color: yellow;
}

.swiper-slide:nth-child(4) svg {
  color: #5ED3F3;
}

.swiper-slide:nth-child(5) svg {
  color: #6E10EE;
}

.swiper-slide:nth-child(6) svg {
  color: #2F74C0;
}

.swiper-slide:nth-child(7) svg {
  color: #3FA0AD;
}

.swiper-slide:nth-child(10) svg {
  color: #C76494;
}