.contact{
    padding: 50px 0;
    background-color: #0a0a0a;
        h2{
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 100px;
            font-family: Roboto;
            font-size: 28px;
            display: flex;
            gap: 10px;
            span{
                color: #04FCF0;
            }
        }
        .contact-me{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    .contact__card{
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 10px;
        border: 1px solid #04FCF0;
        max-width: 240px;
        padding: 25px;
        border-radius: 6px;
        p{
            font-size: 24px;
            color: #FFFFFF;
        }
        svg{
            font-size: 30px;
            color: #C930C8 !important;
        }
    }
    .contact-me a:nth-child(2){
        svg{
            color: #32A5E0 !important ;
        }
    }
    .contact-me a:nth-child(3){
        svg{
            color: #0862F7 !important ;
        }
    }
    .contact-me a:nth-child(4){
        svg{
            color: #007AB5 !important ;
        }
    }
    .contact-me a:nth-child(5){
        color: #FFFFFF;
        svg{
            color: #FFFFFF !important ;
        }
    }

    form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact__content{
            display: flex;
            gap: 50px;
        }
        .dfinp{
            display: flex;
            gap: 20px;
        }
        .fdinputs{
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
        span{
            input{
                padding: 15px;
                border-radius: 10px;
                width: 240px;
                background-color: #0a0a0a;
                outline: none;
                border: none;
                border: 1px solid #3c3c3c;
                color: #FFFFFF;
            }
          
            input::placeholder{
                color: #FFFFFF;
                opacity: .6;
            }
        }
        .df{
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            background-color: #000000;
            padding: 30px;
            border-radius: 6px;
            border: 1px solid #04FCF0;
        }
        textarea{
            width: 500px ;
            padding: 20px;
            border-radius: 10px;
            height: 220px;
            background-color: transparent;
            outline: none;
            border: none;
            border: 1px solid #3c3c3c;
            color: #FFFFFF;
            resize: none;
        }
        textarea::placeholder{
            color:#FFFFFF;
            opacity: .6;
        }
        button{
            margin-top: 0px;
            width: 180px !important;
            background-color: #000000;
            color: #FFFFFF;
            border: 1px solid #3c3c3c;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 10px;
            margin-top: 10px;
            svg{
                font-size: 24px;
            }
        }
        button:hover{
            background-color: #04FCF0;
            color: #000000;
            transition: .3s;
        }
    }
}


@media (max-width:1060px) {
    form{
        button{
            width: 500px !important;
        }
        .df{
            flex-direction: column;
            gap: 50px;
        }
        textarea{
            width: 500px !important;
        }
    }
    .contact-me{
        display: grid !important;
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 0;
        row-gap: 50px;
        justify-content: center;
    
    }
}
@media (max-width:600px) {
    .contact-me{
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 30px !important;
    }
}
@media (max-width:550px) {
    .contact__content{
        flex-direction: column;
    }
    form{
        button{
            width: 300px !important;
        }
        .df{
            flex-direction: column;
            gap: 50px;
            input{
                width: 300px !important;
            }
        }
        textarea{
            width: 300px !important;
        }
        .dfinp{
            flex-direction: column;
        }
    }
}
