.contact{
    padding: 50px 0;
    background-color: adjust-color( #000000);
        h2{
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 100px;
        }
        .contact-me{
            display: flex;
            // justify-content: space-between;
            margin-bottom: 50px;
            gap: 100px;
        }
    .contact__card{
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 10px;
        border: 1px solid #FFFFFF;
        max-width: 260px;
        padding: 30px;
        border-radius: 6px;
        p{
            font-size: 32px;
            color: #FFFFFF;
        }
        svg{
            font-size: 32px;
            color: #C930C8 !important;
        }
    }
    .contact-me a:nth-child(2){
        svg{
            color: #32A5E0 !important ;
        }
    }
    .contact-me a:nth-child(3){
        svg{
            color: #0862F7 !important ;
        }
    }
    .contact-me a:nth-child(4){
        svg{
            color: #007AB5 !important ;
        }
    }

    form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            display: flex;
            flex-direction: column;
            label{
                color: #FFFFFF;
                margin-bottom: 10px;
            }
            input{
                padding: 15px;
                width: 500px;
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
            }
            input::placeholder{
                color: #FFFFFF;
                opacity: .6;
            }
        }
        .df{
            display: flex;
            gap: 50px;
            justify-content: center;
        }
        textarea{
            padding: 15px;
            width: 1050px ;
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid #FFFFFF;
            color: #FFFFFF;
            resize: none;
        }
        label{
            margin-top: 50px;
        }
        textarea::placeholder{
            color:#FFFFFF;
            opacity: .6;
        }
        button{
            margin-top: 50px;
            width: 1050px;
            background-color: #000000;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 4px;
            svg{
                font-size: 24px;
            }
        }
        button:hover{
            background-color: #FFFFFF;
            color: #000000;
            transition: .3s;
        }
    }
}


@media (max-width:1060px) {
    form{
        button{
            width: 500px !important;
        }
        .df{
            flex-direction: column;
            gap: 50px;
        }
        textarea{
            width: 500px !important;
        }
    }
    .contact-me{
        display: grid !important;
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 0;
        row-gap: 50px;
        justify-content: center;
    
    }
}
@media (max-width:600px) {
    .contact-me{
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 30px !important;
    }
}
@media (max-width:550px) {
    form{
        button{
            width: 300px !important;
        }
        .df{
            flex-direction: column;
            gap: 50px;
            input{
                width: 300px !important;
            }
        }
        textarea{
            width: 300px !important;
        }
    }
}
